<div class="content1" role="main">

  <div class="container">
<!--    <div class="row">
      <div class="col-6">
        <div class="col-6">
          <div class="card-container">
            <a class="card" rel="noopener" (click)="changeFrom('ui')">
              <span>From UI</span>
            </a>
          </div>
        </div>
        <div class="col-6">
          <div class="card-container">
            <a class="card" rel="noopener" (click)="changeFrom('schema')">
              <span>From JSON Schema</span>
            </a>
          </div>
        </div>
      </div>
    </div>-->

    <div class="row mt-20">
      <div class="col-12">
        <div *ngIf="from === 'ui'">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="structType">Structure Type</label>
                <select class="form-control" name="structType" id="structType" [(ngModel)]="mockJsonObj.structType"
                        (ngModelChange)="onInfoChange()">
                  <option [ngValue]="option.value" *ngFor="let option of structTypeObj">{{option.label}}</option>
                </select>
              </div>
              <div class="form-group col-md-6" *ngIf="mockJsonObj.structType === 'arrayOfObject'">
                <label for="numObj">Number of Objects</label>
                <input type="number" name="numObj" class="form-control" id="numObj" [min]="1" [max]="20"
                       [(ngModel)]="mockJsonObj.numberOfRecords" (ngModelChange)="onInfoChange()">
              </div>
              <div class="form-group col-md-6" *ngIf="mockJsonObj.structType === 'array'">
                <label for="arrLen">Length of Array</label>
                <input type="number" name="numObj" class="form-control" id="arrLen" [min]="1" [max]="100"
                       [(ngModel)]="mockJsonObj.arrayLength" (ngModelChange)="onInfoChange()">
              </div>
            </div>
          </form>
          <app-json-generator-table [mockJsonObj]="mockJsonObj.structure" [moreInfo]="moreInfo"
                                    [level]="1"></app-json-generator-table>
          <button type="button" class="btn btn-primary btn-lg btn-block"
                  (click)="generateJson(mymodal)">Generate JSON
          </button>
        </div>

        <div *ngIf="from === 'schema'">
          <json-editor [options]="editorOptions"
                       [data]="generatedJson"></json-editor>
        </div>
      </div>
    </div>
  </div>
</div>


<!--modal-->
<ng-template #mymodal let-modal>
  <div class="modal-body">
    <div class="row">
      <div class="col-12" *ngIf="showGeneratedJson">
        <h4>Mock JSON
          <span class="copy-clipboard" id="clipboard" title="Copy to Clipboard"
                (click)="copyToClipboard('json-container')">
          Copy JSON
        </span></h4>
        <json-editor
          [options]="editorOptions"
          [data]="generatedJson"></json-editor>
      </div>
    </div>
  </div>
</ng-template>
