<app-message-component></app-message-component>
<div class="wrapper">
  <div class="nav">
    <ul>
      <li class="home">

        <a [routerLink]="'/generate'">
          <span>
            <img src="assets/images/logo.png" class="logo" alt="logo">
          </span>
          {{"{"}} JSON Online Viewer }
        </a>
      </li>
      <li style="position: absolute; right: 25px;">
        <a href="mailto:bhushangoel91@gmail.com">
          <i class="fa fa-envelope-open-text"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="list-group mt-27">
          <a class="list-group-item list-group-item-action" *ngFor="let tab of tabs"
             [ngClass]="{'active': tab.link === currentRoute}"
             [routerLink]="tab.link" (click)="tabClicked(tab)">
            {{tab.label}}
          </a>
        </div>
      </div>
      <div class="col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-10">
          Copyright JSON Online Viewer 2020
        </div>
      </div>
    </div>
  </footer>
</div>

